.title-color {
    color: #f68888;
    font-weight: bold;
    font-size: 16px;
}


.hospital {
    color: #292560;
    font-weight: bold;
}

.custom {
    color: #292560;
    padding: 0px;
font-size: 20px;
font-weight: bold;
}