<div class="card h-100 shadow-sm" *ngIf="service">
    <img src="{{service.pictureUrl}}" alt="{{service.name}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a href="" class="text-decoration-none">
            <h6 class="text-uppercase">
                {{service.name}}
            </h6>
        </a>
        <span class="mb-2">{{service.price | currency}}</span>

        <div class="btn-group mt-auto">
            <button class="btn btn-outline-secondary "> Book </button>
            <button routerLink="/book/{{service.id}}" class="btn btn-outline-secondary">Details</button>
        </div>
    </div>
</div>