<div class="container mt-5">
    <div *ngIf="(patientAppointmentService.patientAppointmentSource$ | async) === null">
        <p>You have no appointments</p>
    </div>

    <ng-container *ngIf="(patientAppointmentService.patientAppointmentSource$ | async) as patientAppointment">
        <div class="container">
            <div class="row">
                <app-patient-appointment-summary
                
                ></app-patient-appointment-summary>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                    <app-book-totals></app-book-totals>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>


</div>