<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div class="aler alert-info" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes.  Any unsaved changes will be lost</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photo || './assets/user.png'}}" alt="{{member.userName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.addresses}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm.dirty"
                 form="editForm" 
                 class="btn btn-success col-12">Save Changes</button>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.userName}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                <textarea class="form-control"
                [(ngModel)]="member.description"
                name="description"
                rows="6"
                ></textarea>
                <h4 class="mt-2">Language(s) Spoken</h4>
                <textarea class="form-control"
                [(ngModel)]="member.languageSpoken"
                name="languageSpoken"
                rows="6"
                ></textarea>
                </form>
                
            </tab>
            <tab heading="Edit Photos">
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
        </tabset>
    </div>
</div>