<div class="container mt-5">
     <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'PersonalInfo'">
                    Step 1
                </cdk-step>
                <cdk-step [label]="'AppointmentType'">
                    Step 2
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-book-totals></app-book-totals>
        </div>
    </div>
</div>