<div class="container mt-5">
     <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'PatientInfo'"  [completed]="checkoutForm.get('infoForm')?.valid">
                    <app-checkout-info [checkoutForm]="checkoutForm"></app-checkout-info>
                </cdk-step>
                <cdk-step [label]="'AppointmentType'" [completed]="checkoutForm.get('appointmentTypeForm')?.valid">
                    <app-checkout-appointment-type [checkoutForm]="checkoutForm"></app-checkout-appointment-type>
                </cdk-step>
                <cdk-step [label]="'Review'" [completed]="checkoutForm.get('reviewForm')?.valid">
                    <app-checkout-review></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'" >
                    <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-book-totals></app-book-totals>
        </div>
    </div>
</div>