<div class="container">
    <div class="row text-center" *ngIf="service">
         <h2>Learn More About {{service.name}}</h2>
         <hr class="custom-hr">
        <div class="centered-image">
            <img src="{{service.pictureUrl}}" alt="{{service.name}}">
        </div> 
        
        <div class="row mt-4">
                <h4>The Benefits of {{service.name}} :</h4>
                <p>{{service.description}}</p>
                <p>Price: {{service.price | currency}}</p>
            </div>
            <div class="button-container">
                <button (click)="addItemToPatientAppointment()" class="btn btn-primary">Book an appointment</button>
              </div>
</div>