img, svg {
    vertical-align: middle;
    border: 2px solid darkslateblue; 
    border-radius: 10px; 
}


.btn.btn-primary {
    
  background-color:darkblue;
  color: white; 
  border: 5px solid white;
  transition: border-color 0.3s ease;
}


.btn-primary:hover {
  border-color: rgb(239, 143, 143); 
}


  h2{
    font-size: calc(1.325rem + 0.9vw);
    margin-top: -5px;
    line-height: 1.2;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

.centered-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 700px;
}


.btn.btn-primary{
  width: 600px;
  margin-bottom: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-hr {
  background-color: rgba(227, 119, 119, 0.851); 
  height: 5px; 
  border: none; 
}

h2, h4, p {
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  max-width: 720px; 
  margin: 0 auto; 
  margin-bottom: 30px;
}