
.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.navbar-custom {
    background-color:#00518f
     /* #113551; */
     /* 6fa7d2 */
  }
  