.link{
    color: #292560;;
}


.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: blue;
    border-color: var(--bs-pagination-active-border-color);
}